.main {
  height: 800px;
  width: 400px;
  margin: auto;
}

.main > * {
  border: 1px solid white;
}
.container {
  display: grid;
  height: 90%;
  width: 100%;
  margin: auto;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 3fr 2fr 2fr;
}

.container > form > * {
    margin: 0;
    padding: 0;
    width: 100%;
}

.crossfader {
  width: 100%;
  height: 50px;
}


.container > * {
  border: white 1px solid;
  /* width: 100%; */
}
